# <center> <img src="../../labs/img/ITESOLogo.png" alt="ITESO" width="480" height="130"> </center>
# <center> **Departamento de Electrónica, Sistemas e Informática** </center>
---
### <center> **Procesamiento de Datos Masivos** </center>
---
### <center> **Primavera 2025** </center>
---
**Primer Examen**

**Fecha**: 14 de Marzo del 2025

**Nombre del estudiante**: Ximena Isaac Horta

**Professor**: Pablo Camarillo Ramirez

In [ ]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("SparkSQL-Exam-1-ESCRIBE-AQUI-TU-NOMBRE") \
    .master("spark://34ad4bc7c499:7077") \
    .config("spark.ui.port","4040") \
    .getOrCreate()
sc = spark.sparkContext

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/14 13:42:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Read the Data (10 points):

Extract the employee info from the JSON column (20 points):

In [10]:
from team_name.spark_utils import SparkUtils

employees_schema = SparkUtils.generate_schema([("employee_id", "integer"), ("employee_info", "string")])

employees_df = spark.read \
                .schema(employees_schema) \
                .option("header", "true") \
                .csv("/home/jovyan/notebooks/data/examen/employees.csv")

employees_df.printSchema()
employees_df.show(5, truncate=False)

root
 |-- employee_id: integer (nullable = true)
 |-- employee_info: string (nullable = true)

+-----------+-------------------------------------------------------------------------------------------+
|employee_id|employee_info                                                                              |
+-----------+-------------------------------------------------------------------------------------------+
|1          |{'name': 'Caitlyn', 'department_id': 103, 'salary': 115959.78, 'hire_date': '2002-06-10'}  |
|2          |{'name': 'Rachel', 'department_id': 104, 'salary': 100820.16, 'hire_date': '2009-07-01'}   |
|3          |{'name': 'Carrie', 'department_id': 105, 'salary': 114421.44, 'hire_date': '1998-12-10'}   |
|4          |{'name': 'Renee', 'department_id': 104, 'salary': 54688.13, 'hire_date': '1995-03-17'}     |
|5          |{'name': 'Gabriella', 'department_id': 109, 'salary': 106267.03, 'hire_date': '1995-02-09'}|
+-----------+-------------------------------------------------------------------------------------------+
only showing top 5 rows

In [11]:
departments_schema = SparkUtils.generate_schema([("department_id", "integer"), ("department_name", "string"), ("location", "string")])

departments_df = spark.read \
                .schema(departments_schema) \
                .option("header", "true") \
                .csv("/home/jovyan/notebooks/data/examen/departments.csv")

departments_df.printSchema()
departments_df.show(5, truncate=False)

root
 |-- department_id: integer (nullable = true)
 |-- department_name: string (nullable = true)
 |-- location: string (nullable = true)

+-------------+----------------------+---------+
|department_id|department_name       |location |
+-------------+----------------------+---------+
|101          |Human Resources       |San Diego|
|102          |Finance and Accounting|New York |
|103          |Sales and Marketing   |Chicago  |
|104          |Data Engineering      |Zapopan  |
|105          |Data Science          |Seattle  |
+-------------+----------------------+---------+
only showing top 5 rows

Join Operations (10 points):

In [17]:
joinData = employees_df.join(departments_df, employees_df["employee_id"] == departments_df["department_id"], "inner")
joinData.show(5, truncate=False)

+-----------+----------------------------------------------------------------------------------------+-------------+----------------------+---------+
|employee_id|employee_info                                                                           |department_id|department_name       |location |
+-----------+----------------------------------------------------------------------------------------+-------------+----------------------+---------+
|101        |{'name': 'Luke', 'department_id': 106, 'salary': 71594.78, 'hire_date': '1997-06-26'}   |101          |Human Resources       |San Diego|
|102        |{'name': 'Lisa', 'department_id': 108, 'salary': 76242.76, 'hire_date': '2008-12-09'}   |102          |Finance and Accounting|New York |
|103        |{'name': 'Seth', 'department_id': 101, 'salary': 106867.83, 'hire_date': '1988-08-29'}  |103          |Sales and Marketing   |Chicago  |
|104        |{'name': 'Ana', 'department_id': 107, 'salary': 136373.18, 'hire_date': '2015-08-21'}   |104          |Data Engineering      |Zapopan  |
|105        |{'name': 'Richard', 'department_id': 107, 'salary': 67376.52, 'hire_date': '2000-08-17'}|105          |Data Science          |Seattle  |
+-----------+----------------------------------------------------------------------------------------+-------------+----------------------+---------+
only showing top 5 rows

Transformations (Using when()) (10 points):

In [ ]:
from pyspark.sql.functions import when, col, lit

joinData = joinData.withColumn("salary", lit(10))

joinData = joinData.withColumn(
    "salary_category",
    when(col("salary") >= 55000, "High").otherwise("Low")
)

joinData.show(5, truncate=False)

+-----------+----------------------------------------------------------------------------------------+-------------+----------------------+---------+------+---------------+
|employee_id|employee_info                                                                           |department_id|department_name       |location |salary|salary_category|
+-----------+----------------------------------------------------------------------------------------+-------------+----------------------+---------+------+---------------+
|101        |{'name': 'Luke', 'department_id': 106, 'salary': 71594.78, 'hire_date': '1997-06-26'}   |101          |Human Resources       |San Diego|60000 |High           |
|102        |{'name': 'Lisa', 'department_id': 108, 'salary': 76242.76, 'hire_date': '2008-12-09'}   |102          |Finance and Accounting|New York |60000 |High           |
|103        |{'name': 'Seth', 'department_id': 101, 'salary': 106867.83, 'hire_date': '1988-08-29'}  |103          |Sales and Marketing   |Chicago  |60000 |High           |
|104        |{'name': 'Ana', 'department_id': 107, 'salary': 136373.18, 'hire_date': '2015-08-21'}   |104          |Data Engineering      |Zapopan  |60000 |High           |
|105        |{'name': 'Richard', 'department_id': 107, 'salary': 67376.52, 'hire_date': '2000-08-17'}|105          |Data Science          |Seattle  |60000 |High           |
+-----------+----------------------------------------------------------------------------------------+-------------+----------------------+---------+------+---------------+
only showing top 5 rows

Filter and Group (20 points):

Sort (10 points):

Find the number of employees with more years in the company (15 points).

Display the  Spark Plan (5 points):