# Problem Statement
You are given two datasets containing information of employees of a company:

Employee Data: Contains information about employees encoded in a JSON string.

Department Data: Contains information about departments of the company.

Your task is to analyze the data using PySpark and solve specific analysis tasks:

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("BigData-Exam-JoseCota") \
    .master("spark://843542683a54:7077") \
    .config("spark.ui.port","4040") \
    .getOrCreate()
sc = spark.sparkContext

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/14 13:49:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Tasks
1. Read the Data (10 points):
- Load the employees.csv and departments.csv files into PySpark DataFrames.

In [13]:
from team_name.spark_utils import SparkUtils
employees_schema = SparkUtils.generate_schema([("employee_id", "string"), ("employee_info", "string")])

employees_df = spark.read \
                .schema(employees_schema) \
                .option("header", "true") \
                .csv("/home/jovyan/notebooks/data/exam_P2025_ESI3914B/employees.csv")

employees_df.printSchema()

employees_df.show(5, truncate=False)

root
 |-- employee_id: string (nullable = true)
 |-- employee_info: string (nullable = true)

+-----------+-------------------------------------------------------------------------------------------+
|employee_id|employee_info                                                                              |
+-----------+-------------------------------------------------------------------------------------------+
|1          |{'name': 'Caitlyn', 'department_id': 103, 'salary': 115959.78, 'hire_date': '2002-06-10'}  |
|2          |{'name': 'Rachel', 'department_id': 104, 'salary': 100820.16, 'hire_date': '2009-07-01'}   |
|3          |{'name': 'Carrie', 'department_id': 105, 'salary': 114421.44, 'hire_date': '1998-12-10'}   |
|4          |{'name': 'Renee', 'department_id': 104, 'salary': 54688.13, 'hire_date': '1995-03-17'}     |
|5          |{'name': 'Gabriella', 'department_id': 109, 'salary': 106267.03, 'hire_date': '1995-02-09'}|
+-----------+-------------------------------------------------------------------------------------------+
only showing top 5 rows

In [4]:
from team_name.spark_utils import SparkUtils
departments_schema = SparkUtils.generate_schema([("department_id", "string"), ("department_name", "string"), ("location", "string")])

departments_df = spark.read \
                .schema(departments_schema) \
                .option("header", "true") \
                .csv("/home/jovyan/notebooks/data/exam_P2025_ESI3914B/departments.csv")

departments_df.printSchema()

departments_df.show(5, truncate=False)

root
 |-- department_id: string (nullable = true)
 |-- department_name: string (nullable = true)
 |-- location: string (nullable = true)

+-------------+----------------------+---------+
|department_id|department_name       |location |
+-------------+----------------------+---------+
|101          |Human Resources       |San Diego|
|102          |Finance and Accounting|New York |
|103          |Sales and Marketing   |Chicago  |
|104          |Data Engineering      |Zapopan  |
|105          |Data Science          |Seattle  |
+-------------+----------------------+---------+
only showing top 5 rows

2. Extract the employee info from the JSON column (20 points):
- Extract the following the columns: name (string), department_id (integer), salary (double), and hire_date (date) from the employee_info column

In [37]:
from pyspark.sql.functions import get_json_object, col, when, avg
from pyspark.sql.types import IntegerType, DoubleType, DateType

employees_df = (
    employees_df
    .withColumn("name", get_json_object(employees_df.employee_info, "$.name"))
    .withColumn("department_id", get_json_object(employees_df.employee_info, "$.department_id").cast(IntegerType()))  # Cast to Integer
    .withColumn("salary", get_json_object(employees_df.employee_info, "$.salary").cast(DoubleType()))  # Cast to Double
    .withColumn("hire_date", get_json_object(employees_df.employee_info, "$.hire_date").cast(DateType()))  # Cast to Date
)

employees_df.show(truncate=False)

+-----------+-------------------------------------------------------------------------------------------+---------+-------------+---------+----------+
|employee_id|employee_info                                                                              |name     |department_id|salary   |hire_date |
+-----------+-------------------------------------------------------------------------------------------+---------+-------------+---------+----------+
|1          |{'name': 'Caitlyn', 'department_id': 103, 'salary': 115959.78, 'hire_date': '2002-06-10'}  |Caitlyn  |103          |115959.78|2002-06-10|
|2          |{'name': 'Rachel', 'department_id': 104, 'salary': 100820.16, 'hire_date': '2009-07-01'}   |Rachel   |104          |100820.16|2009-07-01|
|3          |{'name': 'Carrie', 'department_id': 105, 'salary': 114421.44, 'hire_date': '1998-12-10'}   |Carrie   |105          |114421.44|1998-12-10|
|4          |{'name': 'Renee', 'department_id': 104, 'salary': 54688.13, 'hire_date': '1995-03-17'}     |Renee    |104          |54688.13 |1995-03-17|
|5          |{'name': 'Gabriella', 'department_id': 109, 'salary': 106267.03, 'hire_date': '1995-02-09'}|Gabriella|109          |106267.03|1995-02-09|
|6          |{'name': 'Kristen', 'department_id': 101, 'salary': 88237.54, 'hire_date': '2010-11-15'}   |Kristen  |101          |88237.54 |2010-11-15|
|7          |{'name': 'Jonathan', 'department_id': 102, 'salary': 39323.42, 'hire_date': '2012-06-30'}  |Jonathan |102          |39323.42 |2012-06-30|
|8          |{'name': 'Michelle', 'department_id': 101, 'salary': 64262.85, 'hire_date': '2005-10-30'}  |Michelle |101          |64262.85 |2005-10-30|
|9          |{'name': 'Michelle', 'department_id': 105, 'salary': 103521.88, 'hire_date': '1991-07-10'} |Michelle |105          |103521.88|1991-07-10|
|10         |{'name': 'Lisa', 'department_id': 110, 'salary': 55435.93, 'hire_date': '2016-03-25'}      |Lisa     |110          |55435.93 |2016-03-25|
|11         |{'name': 'Cheryl', 'department_id': 103, 'salary': 88073.75, 'hire_date': '2020-08-21'}    |Cheryl   |103          |88073.75 |2020-08-21|
|12         |{'name': 'Mikayla', 'department_id': 107, 'salary': 95192.05, 'hire_date': '2022-05-13'}   |Mikayla  |107          |95192.05 |2022-05-13|
|13         |{'name': 'Lisa', 'department_id': 104, 'salary': 36032.49, 'hire_date': '2019-05-16'}      |Lisa     |104          |36032.49 |2019-05-16|
|14         |{'name': 'Sean', 'department_id': 108, 'salary': 64904.69, 'hire_date': '2021-06-06'}      |Sean     |108          |64904.69 |2021-06-06|
|15         |{'name': 'Monica', 'department_id': 105, 'salary': 92589.97, 'hire_date': '2022-05-09'}    |Monica   |105          |92589.97 |2022-05-09|
|16         |{'name': 'Katelyn', 'department_id': 104, 'salary': 147225.58, 'hire_date': '2008-03-14'}  |Katelyn  |104          |147225.58|2008-03-14|
|17         |{'name': 'Linda', 'department_id': 108, 'salary': 146632.64, 'hire_date': '2002-09-04'}    |Linda    |108          |146632.64|2002-09-04|
|18         |{'name': 'Tammy', 'department_id': 109, 'salary': 128860.4, 'hire_date': '2014-04-18'}     |Tammy    |109          |128860.4 |2014-04-18|
|19         |{'name': 'William', 'department_id': 103, 'salary': 142645.41, 'hire_date': '1998-05-25'}  |William  |103          |142645.41|1998-05-25|
|20         |{'name': 'Jorge', 'department_id': 109, 'salary': 87587.51, 'hire_date': '2018-03-25'}     |Jorge    |109          |87587.51 |2018-03-25|
+-----------+-------------------------------------------------------------------------------------------+---------+-------------+---------+----------+
only showing top 20 rows

3. Join Operations (10 points):

In [38]:
detailed_df = employees_df.join(departments_df, "department_id", "left")
detailed_df.show(truncate=False)

+-------------+-----------+-------------------------------------------------------------------------------------------+---------+---------+----------+-------------------------------------------+-------------+
|department_id|employee_id|employee_info                                                                              |name     |salary   |hire_date |department_name                            |location     |
+-------------+-----------+-------------------------------------------------------------------------------------------+---------+---------+----------+-------------------------------------------+-------------+
|103          |1          |{'name': 'Caitlyn', 'department_id': 103, 'salary': 115959.78, 'hire_date': '2002-06-10'}  |Caitlyn  |115959.78|2002-06-10|Sales and Marketing                        |Chicago      |
|104          |2          |{'name': 'Rachel', 'department_id': 104, 'salary': 100820.16, 'hire_date': '2009-07-01'}   |Rachel   |100820.16|2009-07-01|Data Engineering                           |Zapopan      |
|105          |3          |{'name': 'Carrie', 'department_id': 105, 'salary': 114421.44, 'hire_date': '1998-12-10'}   |Carrie   |114421.44|1998-12-10|Data Science                               |Seattle      |
|104          |4          |{'name': 'Renee', 'department_id': 104, 'salary': 54688.13, 'hire_date': '1995-03-17'}     |Renee    |54688.13 |1995-03-17|Data Engineering                           |Zapopan      |
|109          |5          |{'name': 'Gabriella', 'department_id': 109, 'salary': 106267.03, 'hire_date': '1995-02-09'}|Gabriella|106267.03|1995-02-09|Customer Service                           |San Francisco|
|101          |6          |{'name': 'Kristen', 'department_id': 101, 'salary': 88237.54, 'hire_date': '2010-11-15'}   |Kristen  |88237.54 |2010-11-15|Human Resources                            |San Diego    |
|102          |7          |{'name': 'Jonathan', 'department_id': 102, 'salary': 39323.42, 'hire_date': '2012-06-30'}  |Jonathan |39323.42 |2012-06-30|Finance and Accounting                     |New York     |
|101          |8          |{'name': 'Michelle', 'department_id': 101, 'salary': 64262.85, 'hire_date': '2005-10-30'}  |Michelle |64262.85 |2005-10-30|Human Resources                            |San Diego    |
|105          |9          |{'name': 'Michelle', 'department_id': 105, 'salary': 103521.88, 'hire_date': '1991-07-10'} |Michelle |103521.88|1991-07-10|Data Science                               |Seattle      |
|110          |10         |{'name': 'Lisa', 'department_id': 110, 'salary': 55435.93, 'hire_date': '2016-03-25'}      |Lisa     |55435.93 |2016-03-25|Corporate Strategy and Business Development|Los Angeles  |
|103          |11         |{'name': 'Cheryl', 'department_id': 103, 'salary': 88073.75, 'hire_date': '2020-08-21'}    |Cheryl   |88073.75 |2020-08-21|Sales and Marketing                        |Chicago      |
|107          |12         |{'name': 'Mikayla', 'department_id': 107, 'salary': 95192.05, 'hire_date': '2022-05-13'}   |Mikayla  |95192.05 |2022-05-13|Legal                                      |Chicago      |
|104          |13         |{'name': 'Lisa', 'department_id': 104, 'salary': 36032.49, 'hire_date': '2019-05-16'}      |Lisa     |36032.49 |2019-05-16|Data Engineering                           |Zapopan      |
|108          |14         |{'name': 'Sean', 'department_id': 108, 'salary': 64904.69, 'hire_date': '2021-06-06'}      |Sean     |64904.69 |2021-06-06|Research and Development                   |Philadelphia |
|105          |15         |{'name': 'Monica', 'department_id': 105, 'salary': 92589.97, 'hire_date': '2022-05-09'}    |Monica   |92589.97 |2022-05-09|Data Science                               |Seattle      |
|104          |16         |{'name': 'Katelyn', 'department_id': 104, 'salary': 147225.58, 'hire_date': '2008-03-14'}  |Katelyn  |147225.58|2008-03-14|Data Engineering                           |Zapopan      |
|108          |17         |{'name': 'Linda', 'department_id': 108, 'salary': 146632.64, 'hire_date': '2002-09-04'}    |Linda    |146632.64|2002-09-04|Research and Development                   |Philadelphia |
|109          |18         |{'name': 'Tammy', 'department_id': 109, 'salary': 128860.4, 'hire_date': '2014-04-18'}     |Tammy    |128860.4 |2014-04-18|Customer Service                           |San Francisco|
|103          |19         |{'name': 'William', 'department_id': 103, 'salary': 142645.41, 'hire_date': '1998-05-25'}  |William  |142645.41|1998-05-25|Sales and Marketing                        |Chicago      |
|109          |20         |{'name': 'Jorge', 'department_id': 109, 'salary': 87587.51, 'hire_date': '2018-03-25'}     |Jorge    |87587.51 |2018-03-25|Customer Service                           |San Francisco|
+-------------+-----------+-------------------------------------------------------------------------------------------+---------+---------+----------+-------------------------------------------+-------------+
only showing top 20 rows

1. Transformations (Using when()) (10 points):

Add a new column salary_category to the enriched employee DataFrame:

If salary is greater than or equal to 55000, set salary_category to "High".

Otherwise, set salary_category to "Low".

In [39]:
# Agregar columna salary_category
df_salaries_cat = detailed_df.withColumn(
    "salary_category",
    when(col("salary") >= 55000, "High").otherwise("Low")
)

df_salaries_cat.show(truncate=False)

+-------------+-----------+-------------------------------------------------------------------------------------------+---------+---------+----------+-------------------------------------------+-------------+---------------+
|department_id|employee_id|employee_info                                                                              |name     |salary   |hire_date |department_name                            |location     |salary_category|
+-------------+-----------+-------------------------------------------------------------------------------------------+---------+---------+----------+-------------------------------------------+-------------+---------------+
|103          |1          |{'name': 'Caitlyn', 'department_id': 103, 'salary': 115959.78, 'hire_date': '2002-06-10'}  |Caitlyn  |115959.78|2002-06-10|Sales and Marketing                        |Chicago      |High           |
|104          |2          |{'name': 'Rachel', 'department_id': 104, 'salary': 100820.16, 'hire_date': '2009-07-01'}   |Rachel   |100820.16|2009-07-01|Data Engineering                           |Zapopan      |High           |
|105          |3          |{'name': 'Carrie', 'department_id': 105, 'salary': 114421.44, 'hire_date': '1998-12-10'}   |Carrie   |114421.44|1998-12-10|Data Science                               |Seattle      |High           |
|104          |4          |{'name': 'Renee', 'department_id': 104, 'salary': 54688.13, 'hire_date': '1995-03-17'}     |Renee    |54688.13 |1995-03-17|Data Engineering                           |Zapopan      |Low            |
|109          |5          |{'name': 'Gabriella', 'department_id': 109, 'salary': 106267.03, 'hire_date': '1995-02-09'}|Gabriella|106267.03|1995-02-09|Customer Service                           |San Francisco|High           |
|101          |6          |{'name': 'Kristen', 'department_id': 101, 'salary': 88237.54, 'hire_date': '2010-11-15'}   |Kristen  |88237.54 |2010-11-15|Human Resources                            |San Diego    |High           |
|102          |7          |{'name': 'Jonathan', 'department_id': 102, 'salary': 39323.42, 'hire_date': '2012-06-30'}  |Jonathan |39323.42 |2012-06-30|Finance and Accounting                     |New York     |Low            |
|101          |8          |{'name': 'Michelle', 'department_id': 101, 'salary': 64262.85, 'hire_date': '2005-10-30'}  |Michelle |64262.85 |2005-10-30|Human Resources                            |San Diego    |High           |
|105          |9          |{'name': 'Michelle', 'department_id': 105, 'salary': 103521.88, 'hire_date': '1991-07-10'} |Michelle |103521.88|1991-07-10|Data Science                               |Seattle      |High           |
|110          |10         |{'name': 'Lisa', 'department_id': 110, 'salary': 55435.93, 'hire_date': '2016-03-25'}      |Lisa     |55435.93 |2016-03-25|Corporate Strategy and Business Development|Los Angeles  |High           |
|103          |11         |{'name': 'Cheryl', 'department_id': 103, 'salary': 88073.75, 'hire_date': '2020-08-21'}    |Cheryl   |88073.75 |2020-08-21|Sales and Marketing                        |Chicago      |High           |
|107          |12         |{'name': 'Mikayla', 'department_id': 107, 'salary': 95192.05, 'hire_date': '2022-05-13'}   |Mikayla  |95192.05 |2022-05-13|Legal                                      |Chicago      |High           |
|104          |13         |{'name': 'Lisa', 'department_id': 104, 'salary': 36032.49, 'hire_date': '2019-05-16'}      |Lisa     |36032.49 |2019-05-16|Data Engineering                           |Zapopan      |Low            |
|108          |14         |{'name': 'Sean', 'department_id': 108, 'salary': 64904.69, 'hire_date': '2021-06-06'}      |Sean     |64904.69 |2021-06-06|Research and Development                   |Philadelphia |High           |
|105          |15         |{'name': 'Monica', 'department_id': 105, 'salary': 92589.97, 'hire_date': '2022-05-09'}    |Monica   |92589.97 |2022-05-09|Data Science                               |Seattle      |High           |
|104          |16         |{'name': 'Katelyn', 'department_id': 104, 'salary': 147225.58, 'hire_date': '2008-03-14'}  |Katelyn  |147225.58|2008-03-14|Data Engineering                           |Zapopan      |High           |
|108          |17         |{'name': 'Linda', 'department_id': 108, 'salary': 146632.64, 'hire_date': '2002-09-04'}    |Linda    |146632.64|2002-09-04|Research and Development                   |Philadelphia |High           |
|109          |18         |{'name': 'Tammy', 'department_id': 109, 'salary': 128860.4, 'hire_date': '2014-04-18'}     |Tammy    |128860.4 |2014-04-18|Customer Service                           |San Francisco|High           |
|103          |19         |{'name': 'William', 'department_id': 103, 'salary': 142645.41, 'hire_date': '1998-05-25'}  |William  |142645.41|1998-05-25|Sales and Marketing                        |Chicago      |High           |
|109          |20         |{'name': 'Jorge', 'department_id': 109, 'salary': 87587.51, 'hire_date': '2018-03-25'}     |Jorge    |87587.51 |2018-03-25|Customer Service                           |San Francisco|High           |
+-------------+-----------+-------------------------------------------------------------------------------------------+---------+---------+----------+-------------------------------------------+-------------+---------------+
only showing top 20 rows

5. Filter and Group (20 points):

In [40]:
high_salary_df = df_salaries_cat.filter(col("salary_category") == "High")
low_salary_df = df_salaries_cat.filter(col("salary_category") == "Low")

In [42]:

df_avg_salary_high = high_salary_df.groupBy("department_name").agg(avg("salary").alias("avg_salary"))
df_avg_salary_low = low_salary_df.groupBy("department_name").agg(avg("salary").alias("avg_salary"))

print("Avg salary for high salary:")
df_avg_salary_high.show()
print("Avg salary for low salary:")
df_avg_salary_low.show()

Avg salary for high salary:
+--------------------+------------------+
|     department_name|        avg_salary|
+--------------------+------------------+
|Corporate Strateg...|102741.38324414717|
| Sales and Marketing|100839.65275449108|
|    Data Engineering|101626.29492163012|
|Research and Deve...|  98714.3003086419|
|Finance and Accou...|100731.07877887784|
|    Customer Service|101585.01600000002|
|               Legal|  99366.3129102167|
|        Data Science|101903.63710344829|
|          Operations|100169.65621722837|
|     Human Resources|104999.43191489363|
+--------------------+------------------+

Avg salary for low salary:
+--------------------+------------------+
|     department_name|        avg_salary|
+--------------------+------------------+
|Corporate Strateg...|41590.741833333326|
| Sales and Marketing| 41150.40277777778|
|    Data Engineering| 41358.50794117647|
|Finance and Accou...|42740.952888888874|
|Research and Deve...| 41426.43521126761|
|    Customer Service|42644.472021276604|
|               Legal| 41160.26616438357|
|        Data Science| 41974.18958333334|
|          Operations|40646.100705882345|
|     Human Resources| 41751.64784810126|
+--------------------+------------------+

6. Sort (10 points):

In [46]:
top_high_df = high_salary_df.orderBy(col("salary").desc()).limit(5)
top_low_df = low_salary_df.orderBy(col("salary").desc()).limit(5)

top_high_df.show()
top_low_df.show()

+-------------+-----------+--------------------+---------+---------+----------+--------------------+-----------+---------------+
|department_id|employee_id|       employee_info|     name|   salary| hire_date|     department_name|   location|salary_category|
+-------------+-----------+--------------------+---------+---------+----------+--------------------+-----------+---------------+
|          101|       1778|{'name': 'Gabriel...|Gabriella|149989.73|2018-09-14|     Human Resources|  San Diego|           High|
|          101|       3621|{'name': 'Katheri...|Katherine| 149979.3|2017-07-26|     Human Resources|  San Diego|           High|
|          110|        346|{'name': 'Ryan', ...|     Ryan| 149963.1|1990-07-03|Corporate Strateg...|Los Angeles|           High|
|          107|       3807|{'name': 'Caitlyn...|  Caitlyn|149956.54|2000-07-27|               Legal|    Chicago|           High|
|          107|       3050|{'name': 'Mark', ...|     Mark|149915.56|2007-11-06|               Legal|    Chicago|           High|
+-------------+-----------+--------------------+---------+---------+----------+--------------------+-----------+---------------+

+-------------+-----------+--------------------+-----+--------+----------+--------------------+-------------+---------------+
|department_id|employee_id|       employee_info| name|  salary| hire_date|     department_name|     location|salary_category|
+-------------+-----------+--------------------+-----+--------+----------+--------------------+-------------+---------------+
|          110|       3472|{'name': 'Linda',...|Linda|54993.53|2017-01-15|Corporate Strateg...|  Los Angeles|            Low|
|          104|       2545|{'name': 'Tammy',...|Tammy|54991.71|2004-12-07|    Data Engineering|      Zapopan|            Low|
|          102|        382|{'name': 'Aaron',...|Aaron|54989.45|2011-03-20|Finance and Accou...|     New York|            Low|
|          101|       2153|{'name': 'Craig',...|Craig| 54945.2|2016-04-24|     Human Resources|    San Diego|            Low|
|          109|       3024|{'name': 'Aaron',...|Aaron| 54937.3|1994-06-25|    Customer Service|San Francisco|            Low|
+-------------+-----------+--------------------+-----+--------+----------+--------------------+-------------+---------------+

7. Find the number of employees with more years in the company (15 points)

In [ ]:
from pyspark.sql.functions import year, current_date

years_df = detailed_df.withColumn("years_in_company", year(current_date()) - year(col("hire_date")))

years_df.show(5)

8. Display the  Spark Plan (5 points):