# <center> <img src="../../labs/img/ITESOLogo.png" alt="ITESO" width="480" height="130"> </center>
# <center> **Departamento de Electrónica, Sistemas e Informática** </center>
---
### <center> **Procesamiento de Datos Masivos** </center>
---
### <center> **Primavera 2025** </center>
---
**Primer Examen**

**Fecha**: 14 de Marzo del 2025

**Nombre del estudiante**: Samantha Abigail Quintero Valadez

**Professor**: Pablo Camarillo Ramirez

In [1]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("SparkSQL-Exam-1-Samantha-Quintero") \
    .master("spark://be6296989c4d:7077") \
    .config("spark.ui.port","4040") \
    .getOrCreate()
sc = spark.sparkContext

In [4]:
from team_name.spark_utils import SparkUtils

columns_info = [("department_id", "string"),
                ("department_name", "string"),
                ("location", "string")]

schema = SparkUtils.generate_schema(columns_info)

# Create DataFrame
depart_df = spark \
                .read \
                .schema(schema) \
                .option("header", "true") \
                .csv("/home/jovyan/notebooks/data/exam_P2025_ESI3914B/departments.csv")

depart_df.printSchema()
depart_df.show()

root
 |-- department_id: string (nullable = true)
 |-- department_name: string (nullable = true)
 |-- location: string (nullable = true)

+-------------+--------------------+-------------+
|department_id|     department_name|     location|
+-------------+--------------------+-------------+
|          101|     Human Resources|    San Diego|
|          102|Finance and Accou...|     New York|
|          103| Sales and Marketing|      Chicago|
|          104|    Data Engineering|      Zapopan|
|          105|        Data Science|      Seattle|
|          106|          Operations|       London|
|          107|               Legal|      Chicago|
|          108|Research and Deve...| Philadelphia|
|          109|    Customer Service|San Francisco|
|          110|Corporate Strateg...|  Los Angeles|
+-------------+--------------------+-------------+

In [26]:
sc.stop()

In [5]:
from team_name.spark_utils import SparkUtils
emp_schema = SparkUtils.generate_schema([("employee_id", "string"), ("employee_info", "string")])

emp_df = spark.read \
                .schema(emp_schema) \
                .option("header", "true") \
                .csv("/home/jovyan/notebooks/data/exam_P2025_ESI3914B/employees.csv")

emp_df.printSchema()
emp_df.show()

root
 |-- employee_id: string (nullable = true)
 |-- employee_info: string (nullable = true)

+-----------+--------------------+
|employee_id|       employee_info|
+-----------+--------------------+
|          1|{'name': 'Caitlyn...|
|          2|{'name': 'Rachel'...|
|          3|{'name': 'Carrie'...|
|          4|{'name': 'Renee',...|
|          5|{'name': 'Gabriel...|
|          6|{'name': 'Kristen...|
|          7|{'name': 'Jonatha...|
|          8|{'name': 'Michell...|
|          9|{'name': 'Michell...|
|         10|{'name': 'Lisa', ...|
|         11|{'name': 'Cheryl'...|
|         12|{'name': 'Mikayla...|
|         13|{'name': 'Lisa', ...|
|         14|{'name': 'Sean', ...|
|         15|{'name': 'Monica'...|
|         16|{'name': 'Katelyn...|
|         17|{'name': 'Linda',...|
|         18|{'name': 'Tammy',...|
|         19|{'name': 'William...|
|         20|{'name': 'Jorge',...|
+-----------+--------------------+
only showing top 20 rows

In [6]:
from pyspark.sql.functions import get_json_object
emp_df = emp_df.withColumn("name", get_json_object(emp_df.employee_info, "$.name"))
emp_df.show(truncate=False)

+-----------+-------------------------------------------------------------------------------------------+---------+
|employee_id|employee_info                                                                              |name     |
+-----------+-------------------------------------------------------------------------------------------+---------+
|1          |{'name': 'Caitlyn', 'department_id': 103, 'salary': 115959.78, 'hire_date': '2002-06-10'}  |Caitlyn  |
|2          |{'name': 'Rachel', 'department_id': 104, 'salary': 100820.16, 'hire_date': '2009-07-01'}   |Rachel   |
|3          |{'name': 'Carrie', 'department_id': 105, 'salary': 114421.44, 'hire_date': '1998-12-10'}   |Carrie   |
|4          |{'name': 'Renee', 'department_id': 104, 'salary': 54688.13, 'hire_date': '1995-03-17'}     |Renee    |
|5          |{'name': 'Gabriella', 'department_id': 109, 'salary': 106267.03, 'hire_date': '1995-02-09'}|Gabriella|
|6          |{'name': 'Kristen', 'department_id': 101, 'salary': 88237.54, 'hire_date': '2010-11-15'}   |Kristen  |
|7          |{'name': 'Jonathan', 'department_id': 102, 'salary': 39323.42, 'hire_date': '2012-06-30'}  |Jonathan |
|8          |{'name': 'Michelle', 'department_id': 101, 'salary': 64262.85, 'hire_date': '2005-10-30'}  |Michelle |
|9          |{'name': 'Michelle', 'department_id': 105, 'salary': 103521.88, 'hire_date': '1991-07-10'} |Michelle |
|10         |{'name': 'Lisa', 'department_id': 110, 'salary': 55435.93, 'hire_date': '2016-03-25'}      |Lisa     |
|11         |{'name': 'Cheryl', 'department_id': 103, 'salary': 88073.75, 'hire_date': '2020-08-21'}    |Cheryl   |
|12         |{'name': 'Mikayla', 'department_id': 107, 'salary': 95192.05, 'hire_date': '2022-05-13'}   |Mikayla  |
|13         |{'name': 'Lisa', 'department_id': 104, 'salary': 36032.49, 'hire_date': '2019-05-16'}      |Lisa     |
|14         |{'name': 'Sean', 'department_id': 108, 'salary': 64904.69, 'hire_date': '2021-06-06'}      |Sean     |
|15         |{'name': 'Monica', 'department_id': 105, 'salary': 92589.97, 'hire_date': '2022-05-09'}    |Monica   |
|16         |{'name': 'Katelyn', 'department_id': 104, 'salary': 147225.58, 'hire_date': '2008-03-14'}  |Katelyn  |
|17         |{'name': 'Linda', 'department_id': 108, 'salary': 146632.64, 'hire_date': '2002-09-04'}    |Linda    |
|18         |{'name': 'Tammy', 'department_id': 109, 'salary': 128860.4, 'hire_date': '2014-04-18'}     |Tammy    |
|19         |{'name': 'William', 'department_id': 103, 'salary': 142645.41, 'hire_date': '1998-05-25'}  |William  |
|20         |{'name': 'Jorge', 'department_id': 109, 'salary': 87587.51, 'hire_date': '2018-03-25'}     |Jorge    |
+-----------+-------------------------------------------------------------------------------------------+---------+
only showing top 20 rows

In [7]:
from pyspark.sql.functions import get_json_object
emp_df = emp_df.withColumn("department_id", get_json_object(emp_df.employee_info, "$.department_id"))
emp_df.show(truncate=False)

+-----------+-------------------------------------------------------------------------------------------+---------+-------------+
|employee_id|employee_info                                                                              |name     |department_id|
+-----------+-------------------------------------------------------------------------------------------+---------+-------------+
|1          |{'name': 'Caitlyn', 'department_id': 103, 'salary': 115959.78, 'hire_date': '2002-06-10'}  |Caitlyn  |103          |
|2          |{'name': 'Rachel', 'department_id': 104, 'salary': 100820.16, 'hire_date': '2009-07-01'}   |Rachel   |104          |
|3          |{'name': 'Carrie', 'department_id': 105, 'salary': 114421.44, 'hire_date': '1998-12-10'}   |Carrie   |105          |
|4          |{'name': 'Renee', 'department_id': 104, 'salary': 54688.13, 'hire_date': '1995-03-17'}     |Renee    |104          |
|5          |{'name': 'Gabriella', 'department_id': 109, 'salary': 106267.03, 'hire_date': '1995-02-09'}|Gabriella|109          |
|6          |{'name': 'Kristen', 'department_id': 101, 'salary': 88237.54, 'hire_date': '2010-11-15'}   |Kristen  |101          |
|7          |{'name': 'Jonathan', 'department_id': 102, 'salary': 39323.42, 'hire_date': '2012-06-30'}  |Jonathan |102          |
|8          |{'name': 'Michelle', 'department_id': 101, 'salary': 64262.85, 'hire_date': '2005-10-30'}  |Michelle |101          |
|9          |{'name': 'Michelle', 'department_id': 105, 'salary': 103521.88, 'hire_date': '1991-07-10'} |Michelle |105          |
|10         |{'name': 'Lisa', 'department_id': 110, 'salary': 55435.93, 'hire_date': '2016-03-25'}      |Lisa     |110          |
|11         |{'name': 'Cheryl', 'department_id': 103, 'salary': 88073.75, 'hire_date': '2020-08-21'}    |Cheryl   |103          |
|12         |{'name': 'Mikayla', 'department_id': 107, 'salary': 95192.05, 'hire_date': '2022-05-13'}   |Mikayla  |107          |
|13         |{'name': 'Lisa', 'department_id': 104, 'salary': 36032.49, 'hire_date': '2019-05-16'}      |Lisa     |104          |
|14         |{'name': 'Sean', 'department_id': 108, 'salary': 64904.69, 'hire_date': '2021-06-06'}      |Sean     |108          |
|15         |{'name': 'Monica', 'department_id': 105, 'salary': 92589.97, 'hire_date': '2022-05-09'}    |Monica   |105          |
|16         |{'name': 'Katelyn', 'department_id': 104, 'salary': 147225.58, 'hire_date': '2008-03-14'}  |Katelyn  |104          |
|17         |{'name': 'Linda', 'department_id': 108, 'salary': 146632.64, 'hire_date': '2002-09-04'}    |Linda    |108          |
|18         |{'name': 'Tammy', 'department_id': 109, 'salary': 128860.4, 'hire_date': '2014-04-18'}     |Tammy    |109          |
|19         |{'name': 'William', 'department_id': 103, 'salary': 142645.41, 'hire_date': '1998-05-25'}  |William  |103          |
|20         |{'name': 'Jorge', 'department_id': 109, 'salary': 87587.51, 'hire_date': '2018-03-25'}     |Jorge    |109          |
+-----------+-------------------------------------------------------------------------------------------+---------+-------------+
only showing top 20 rows

In [15]:
from pyspark.sql.functions import get_json_object
emp_df = emp_df.withColumn("salary", get_json_object(emp_df.employee_info, "$.salary").cast('integer'))
emp_df.show(truncate=False)

+-----------+-------------------------------------------------------------------------------------------+---------+-------------+------+----------+
|employee_id|employee_info                                                                              |name     |department_id|salary|hire_date |
+-----------+-------------------------------------------------------------------------------------------+---------+-------------+------+----------+
|1          |{'name': 'Caitlyn', 'department_id': 103, 'salary': 115959.78, 'hire_date': '2002-06-10'}  |Caitlyn  |103          |115959|2002-06-10|
|2          |{'name': 'Rachel', 'department_id': 104, 'salary': 100820.16, 'hire_date': '2009-07-01'}   |Rachel   |104          |100820|2009-07-01|
|3          |{'name': 'Carrie', 'department_id': 105, 'salary': 114421.44, 'hire_date': '1998-12-10'}   |Carrie   |105          |114421|1998-12-10|
|4          |{'name': 'Renee', 'department_id': 104, 'salary': 54688.13, 'hire_date': '1995-03-17'}     |Renee    |104          |54688 |1995-03-17|
|5          |{'name': 'Gabriella', 'department_id': 109, 'salary': 106267.03, 'hire_date': '1995-02-09'}|Gabriella|109          |106267|1995-02-09|
|6          |{'name': 'Kristen', 'department_id': 101, 'salary': 88237.54, 'hire_date': '2010-11-15'}   |Kristen  |101          |88237 |2010-11-15|
|7          |{'name': 'Jonathan', 'department_id': 102, 'salary': 39323.42, 'hire_date': '2012-06-30'}  |Jonathan |102          |39323 |2012-06-30|
|8          |{'name': 'Michelle', 'department_id': 101, 'salary': 64262.85, 'hire_date': '2005-10-30'}  |Michelle |101          |64262 |2005-10-30|
|9          |{'name': 'Michelle', 'department_id': 105, 'salary': 103521.88, 'hire_date': '1991-07-10'} |Michelle |105          |103521|1991-07-10|
|10         |{'name': 'Lisa', 'department_id': 110, 'salary': 55435.93, 'hire_date': '2016-03-25'}      |Lisa     |110          |55435 |2016-03-25|
|11         |{'name': 'Cheryl', 'department_id': 103, 'salary': 88073.75, 'hire_date': '2020-08-21'}    |Cheryl   |103          |88073 |2020-08-21|
|12         |{'name': 'Mikayla', 'department_id': 107, 'salary': 95192.05, 'hire_date': '2022-05-13'}   |Mikayla  |107          |95192 |2022-05-13|
|13         |{'name': 'Lisa', 'department_id': 104, 'salary': 36032.49, 'hire_date': '2019-05-16'}      |Lisa     |104          |36032 |2019-05-16|
|14         |{'name': 'Sean', 'department_id': 108, 'salary': 64904.69, 'hire_date': '2021-06-06'}      |Sean     |108          |64904 |2021-06-06|
|15         |{'name': 'Monica', 'department_id': 105, 'salary': 92589.97, 'hire_date': '2022-05-09'}    |Monica   |105          |92589 |2022-05-09|
|16         |{'name': 'Katelyn', 'department_id': 104, 'salary': 147225.58, 'hire_date': '2008-03-14'}  |Katelyn  |104          |147225|2008-03-14|
|17         |{'name': 'Linda', 'department_id': 108, 'salary': 146632.64, 'hire_date': '2002-09-04'}    |Linda    |108          |146632|2002-09-04|
|18         |{'name': 'Tammy', 'department_id': 109, 'salary': 128860.4, 'hire_date': '2014-04-18'}     |Tammy    |109          |128860|2014-04-18|
|19         |{'name': 'William', 'department_id': 103, 'salary': 142645.41, 'hire_date': '1998-05-25'}  |William  |103          |142645|1998-05-25|
|20         |{'name': 'Jorge', 'department_id': 109, 'salary': 87587.51, 'hire_date': '2018-03-25'}     |Jorge    |109          |87587 |2018-03-25|
+-----------+-------------------------------------------------------------------------------------------+---------+-------------+------+----------+
only showing top 20 rows

In [16]:
from pyspark.sql.functions import get_json_object
emp_df = emp_df.withColumn("hire_date", get_json_object(emp_df.employee_info, "$.hire_date").cast('date'))
emp_df.show(truncate=False)

+-----------+-------------------------------------------------------------------------------------------+---------+-------------+------+----------+
|employee_id|employee_info                                                                              |name     |department_id|salary|hire_date |
+-----------+-------------------------------------------------------------------------------------------+---------+-------------+------+----------+
|1          |{'name': 'Caitlyn', 'department_id': 103, 'salary': 115959.78, 'hire_date': '2002-06-10'}  |Caitlyn  |103          |115959|2002-06-10|
|2          |{'name': 'Rachel', 'department_id': 104, 'salary': 100820.16, 'hire_date': '2009-07-01'}   |Rachel   |104          |100820|2009-07-01|
|3          |{'name': 'Carrie', 'department_id': 105, 'salary': 114421.44, 'hire_date': '1998-12-10'}   |Carrie   |105          |114421|1998-12-10|
|4          |{'name': 'Renee', 'department_id': 104, 'salary': 54688.13, 'hire_date': '1995-03-17'}     |Renee    |104          |54688 |1995-03-17|
|5          |{'name': 'Gabriella', 'department_id': 109, 'salary': 106267.03, 'hire_date': '1995-02-09'}|Gabriella|109          |106267|1995-02-09|
|6          |{'name': 'Kristen', 'department_id': 101, 'salary': 88237.54, 'hire_date': '2010-11-15'}   |Kristen  |101          |88237 |2010-11-15|
|7          |{'name': 'Jonathan', 'department_id': 102, 'salary': 39323.42, 'hire_date': '2012-06-30'}  |Jonathan |102          |39323 |2012-06-30|
|8          |{'name': 'Michelle', 'department_id': 101, 'salary': 64262.85, 'hire_date': '2005-10-30'}  |Michelle |101          |64262 |2005-10-30|
|9          |{'name': 'Michelle', 'department_id': 105, 'salary': 103521.88, 'hire_date': '1991-07-10'} |Michelle |105          |103521|1991-07-10|
|10         |{'name': 'Lisa', 'department_id': 110, 'salary': 55435.93, 'hire_date': '2016-03-25'}      |Lisa     |110          |55435 |2016-03-25|
|11         |{'name': 'Cheryl', 'department_id': 103, 'salary': 88073.75, 'hire_date': '2020-08-21'}    |Cheryl   |103          |88073 |2020-08-21|
|12         |{'name': 'Mikayla', 'department_id': 107, 'salary': 95192.05, 'hire_date': '2022-05-13'}   |Mikayla  |107          |95192 |2022-05-13|
|13         |{'name': 'Lisa', 'department_id': 104, 'salary': 36032.49, 'hire_date': '2019-05-16'}      |Lisa     |104          |36032 |2019-05-16|
|14         |{'name': 'Sean', 'department_id': 108, 'salary': 64904.69, 'hire_date': '2021-06-06'}      |Sean     |108          |64904 |2021-06-06|
|15         |{'name': 'Monica', 'department_id': 105, 'salary': 92589.97, 'hire_date': '2022-05-09'}    |Monica   |105          |92589 |2022-05-09|
|16         |{'name': 'Katelyn', 'department_id': 104, 'salary': 147225.58, 'hire_date': '2008-03-14'}  |Katelyn  |104          |147225|2008-03-14|
|17         |{'name': 'Linda', 'department_id': 108, 'salary': 146632.64, 'hire_date': '2002-09-04'}    |Linda    |108          |146632|2002-09-04|
|18         |{'name': 'Tammy', 'department_id': 109, 'salary': 128860.4, 'hire_date': '2014-04-18'}     |Tammy    |109          |128860|2014-04-18|
|19         |{'name': 'William', 'department_id': 103, 'salary': 142645.41, 'hire_date': '1998-05-25'}  |William  |103          |142645|1998-05-25|
|20         |{'name': 'Jorge', 'department_id': 109, 'salary': 87587.51, 'hire_date': '2018-03-25'}     |Jorge    |109          |87587 |2018-03-25|
+-----------+-------------------------------------------------------------------------------------------+---------+-------------+------+----------+
only showing top 20 rows

In [17]:
emp_dep_df = depart_df.join(emp_df, emp_df.department_id == depart_df.department_id, "inner") 
emp_dep_df = emp_dep_df.drop('employee_info')

emp_dep_df.show( truncate=False)

+-------------+-------------------------------------------+-------------+-----------+---------+-------------+------+----------+
|department_id|department_name                            |location     |employee_id|name     |department_id|salary|hire_date |
+-------------+-------------------------------------------+-------------+-----------+---------+-------------+------+----------+
|103          |Sales and Marketing                        |Chicago      |1          |Caitlyn  |103          |115959|2002-06-10|
|104          |Data Engineering                           |Zapopan      |2          |Rachel   |104          |100820|2009-07-01|
|105          |Data Science                               |Seattle      |3          |Carrie   |105          |114421|1998-12-10|
|104          |Data Engineering                           |Zapopan      |4          |Renee    |104          |54688 |1995-03-17|
|109          |Customer Service                           |San Francisco|5          |Gabriella|109          |106267|1995-02-09|
|101          |Human Resources                            |San Diego    |6          |Kristen  |101          |88237 |2010-11-15|
|102          |Finance and Accounting                     |New York     |7          |Jonathan |102          |39323 |2012-06-30|
|101          |Human Resources                            |San Diego    |8          |Michelle |101          |64262 |2005-10-30|
|105          |Data Science                               |Seattle      |9          |Michelle |105          |103521|1991-07-10|
|110          |Corporate Strategy and Business Development|Los Angeles  |10         |Lisa     |110          |55435 |2016-03-25|
|103          |Sales and Marketing                        |Chicago      |11         |Cheryl   |103          |88073 |2020-08-21|
|107          |Legal                                      |Chicago      |12         |Mikayla  |107          |95192 |2022-05-13|
|104          |Data Engineering                           |Zapopan      |13         |Lisa     |104          |36032 |2019-05-16|
|108          |Research and Development                   |Philadelphia |14         |Sean     |108          |64904 |2021-06-06|
|105          |Data Science                               |Seattle      |15         |Monica   |105          |92589 |2022-05-09|
|104          |Data Engineering                           |Zapopan      |16         |Katelyn  |104          |147225|2008-03-14|
|108          |Research and Development                   |Philadelphia |17         |Linda    |108          |146632|2002-09-04|
|109          |Customer Service                           |San Francisco|18         |Tammy    |109          |128860|2014-04-18|
|103          |Sales and Marketing                        |Chicago      |19         |William  |103          |142645|1998-05-25|
|109          |Customer Service                           |San Francisco|20         |Jorge    |109          |87587 |2018-03-25|
+-------------+-------------------------------------------+-------------+-----------+---------+-------------+------+----------+
only showing top 20 rows

In [18]:
from pyspark.sql.functions import when
emp_dep_df = emp_dep_df.withColumn('salary_category', when(emp_dep_df['salary'] >= 55000, "HIGH").otherwise("LOW"))
emp_dep_df.show(n=5)

+-------------+-------------------+-------------+-----------+---------+-------------+------+----------+---------------+
|department_id|    department_name|     location|employee_id|     name|department_id|salary| hire_date|salary_category|
+-------------+-------------------+-------------+-----------+---------+-------------+------+----------+---------------+
|          103|Sales and Marketing|      Chicago|          1|  Caitlyn|          103|115959|2002-06-10|           HIGH|
|          104|   Data Engineering|      Zapopan|          2|   Rachel|          104|100820|2009-07-01|           HIGH|
|          105|       Data Science|      Seattle|          3|   Carrie|          105|114421|1998-12-10|           HIGH|
|          104|   Data Engineering|      Zapopan|          4|    Renee|          104| 54688|1995-03-17|            LOW|
|          109|   Customer Service|San Francisco|          5|Gabriella|          109|106267|1995-02-09|           HIGH|
+-------------+-------------------+-------------+-----------+---------+-------------+------+----------+---------------+
only showing top 5 rows

In [22]:
high_sl_df=emp_dep_df.filter(emp_dep_df.salary_category=='HIGH')
low_sl_df=emp_dep_df.filter(emp_dep_df.salary_category=='LOW')


selected_h_df = high_sl_df.select("department_name", "salary")
selected_l_df = low_sl_df.select("department_name", "salary")

grouped_h_df = selected_h_df.groupBy("department_name").avg("salary")

grouped_l_df = selected_l_df.groupBy("department_name").avg("salary")

grouped_h_df.show()
grouped_l_df.show()

+--------------------+------------------+
|     department_name|       avg(salary)|
+--------------------+------------------+
|Corporate Strateg...|102740.88963210702|
| Sales and Marketing|100839.13772455089|
|    Data Engineering|101625.81818181818|
|Research and Deve...| 98713.83333333333|
|Finance and Accou...|100730.58415841585|
|    Customer Service|101584.54137931035|
|               Legal| 99365.79876160991|
|        Data Science|101903.16206896551|
|          Operations|100169.17602996255|
|     Human Resources| 104998.9609929078|
+--------------------+------------------+

+--------------------+------------------+
|     department_name|       avg(salary)|
+--------------------+------------------+
|Corporate Strateg...|          41590.25|
| Sales and Marketing|41149.944444444445|
|    Data Engineering|           41358.0|
|Finance and Accou...|           42740.5|
|Research and Deve...|41426.042253521126|
|    Customer Service| 42643.96808510638|
|               Legal|41159.767123287675|
|        Data Science|41973.697916666664|
|          Operations|40645.623529411765|
|     Human Resources| 41751.15189873418|
+--------------------+------------------+

In [27]:
high_sl_df.createOrReplaceTempView("high_sl_df")
spark.sql("SELECT name, salary FROM high_sl_df ORDER BY Salary DESC LIMIT 5").show()

low_sl_df.createOrReplaceTempView("low_sl_df")
spark.sql("SELECT name, salary FROM low_sl_df ORDER BY Salary DESC LIMIT 5").show()

+---------+------+
|     name|salary|
+---------+------+
|Gabriella|149989|
|Katherine|149979|
|     Ryan|149963|
|  Caitlyn|149956|
|     Mark|149915|
+---------+------+

+-----+------+
| name|salary|
+-----+------+
|Linda| 54993|
|Tammy| 54991|
|Aaron| 54989|
|Craig| 54945|
|Aaron| 54937|
+-----+------+

In [34]:
from pyspark.sql.functions import year
df_year = emp_dep_df.withColumn('years_working', 2025-year(emp_dep_df['hire_date']))
df_year.show()

df_year=df_year.filter(df_year.years_working>35)
df_year.count()

+-------------+--------------------+-------------+-----------+---------+-------------+------+----------+---------------+-------------+
|department_id|     department_name|     location|employee_id|     name|department_id|salary| hire_date|salary_category|years_working|
+-------------+--------------------+-------------+-----------+---------+-------------+------+----------+---------------+-------------+
|          103| Sales and Marketing|      Chicago|          1|  Caitlyn|          103|115959|2002-06-10|           HIGH|           23|
|          104|    Data Engineering|      Zapopan|          2|   Rachel|          104|100820|2009-07-01|           HIGH|           16|
|          105|        Data Science|      Seattle|          3|   Carrie|          105|114421|1998-12-10|           HIGH|           27|
|          104|    Data Engineering|      Zapopan|          4|    Renee|          104| 54688|1995-03-17|            LOW|           30|
|          109|    Customer Service|San Francisco|          5|Gabriella|          109|106267|1995-02-09|           HIGH|           30|
|          101|     Human Resources|    San Diego|          6|  Kristen|          101| 88237|2010-11-15|           HIGH|           15|
|          102|Finance and Accou...|     New York|          7| Jonathan|          102| 39323|2012-06-30|            LOW|           13|
|          101|     Human Resources|    San Diego|          8| Michelle|          101| 64262|2005-10-30|           HIGH|           20|
|          105|        Data Science|      Seattle|          9| Michelle|          105|103521|1991-07-10|           HIGH|           34|
|          110|Corporate Strateg...|  Los Angeles|         10|     Lisa|          110| 55435|2016-03-25|           HIGH|            9|
|          103| Sales and Marketing|      Chicago|         11|   Cheryl|          103| 88073|2020-08-21|           HIGH|            5|
|          107|               Legal|      Chicago|         12|  Mikayla|          107| 95192|2022-05-13|           HIGH|            3|
|          104|    Data Engineering|      Zapopan|         13|     Lisa|          104| 36032|2019-05-16|            LOW|            6|
|          108|Research and Deve...| Philadelphia|         14|     Sean|          108| 64904|2021-06-06|           HIGH|            4|
|          105|        Data Science|      Seattle|         15|   Monica|          105| 92589|2022-05-09|           HIGH|            3|
|          104|    Data Engineering|      Zapopan|         16|  Katelyn|          104|147225|2008-03-14|           HIGH|           17|
|          108|Research and Deve...| Philadelphia|         17|    Linda|          108|146632|2002-09-04|           HIGH|           23|
|          109|    Customer Service|San Francisco|         18|    Tammy|          109|128860|2014-04-18|           HIGH|           11|
|          103| Sales and Marketing|      Chicago|         19|  William|          103|142645|1998-05-25|           HIGH|           27|
|          109|    Customer Service|San Francisco|         20|    Jorge|          109| 87587|2018-03-25|           HIGH|            7|
+-------------+--------------------+-------------+-----------+---------+-------------+------+----------+---------------+-------------+
only showing top 20 rows

223

# <center> <img src="../../labs/img/examen_Samantha.png" alt="DAG" width="480" height="130"> </center>